body {
  background: url(images/whodis.jpeg);
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background: url(images/whodis.jpeg) center center cover no-repeat fixed; */
  background-color:red;
}

.nope {
  display: none;
}
